<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head content -->
  <%- include('../partials/_headcontent') %>
</head>

<body class="bg-[#F9FAFB] text-md">
  <!-- share -->
  <%- include('../partials/_share') %>
  
  <!-- Back to Top Button -->
  <%- include('../partials/_backtotop') %>

  <!-- model dialog -->
  <%- include('../partials/_modeldialog') %>

  <!-- Topbar -->
  <%- include('../partials/_topbar') %>

  <!-- navbar -->
  <%- include('../partials/_navbar') %>

  <!-- Hero Section -->
  <%- include('../partials/_hero') %>

  <!-- Services Section -->
  <%- include('../partials/_services', limited=true) %>

  <!-- Section 1: Sell Your Home Stress-Free -->
  <%- include('../partials/_aboutus') %>

  <!-- Section 2: The Lioness Homes Promise -->
  <%- include('../partials/_ourpromise') %>


  <!-- Why Choose Us -->
  <%- include('../partials/_whychoseus') %>

  <!-- How It Works Section -->
  <%- include('../partials/_howitworks') %>

  <!-- Testimonials Section -->
  <%- include('../partials/_testimonials') %>

  <!-- Contact Section -->
  <%- include('../partials/_contact') %>

  <!-- Footer -->
  <%- include('../partials/_footer') %>

  <!-- JavaScript -->
  <%- include('../partials/_scripts') %>

</body>

</html>