<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head content -->
  <%- include('../partials/_headcontent') %>
</head>

<body class="bg-[#F9FAFB] text-md">
  <!-- Back to Top Button -->
  <%- include('../partials/_backtotop') %>

  <!-- model dialog -->
  <%- include('../partials/_modeldialog') %>

  <!-- Topbar -->
  <%- include('../partials/_topbar') %>

  <!-- navbar -->
  <%- include('../partials/_navbar') %>

  <!-- Services Section -->
  <%- include('../partials/_services') %>

  <!-- Footer -->
  <%- include('../partials/_footer') %>

  <!-- JavaScript -->
  <%- include('../partials/_scripts') %>
</body>

</html>